/* 	=======================================
	=======================================
		ATTEMPTED STRETCHE(S):
			- incoporate a gFont of 
			your choice
	=======================================
	=======================================
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/*	============================ My
	============================ CSS:
	============================
*/
* {
  border: 1px solid black;
}
@media (max-width: 500px) {
  .disappear {
    width: 0%;
    height: 0%;
  }
}
@media (max-width: 1000px) {
  .disappear {
    width: 0%;
    height: 0%;
  }
}
@media (max-width: 500px) {
  .consume {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1000px) {
  .consume {
    width: 100%;
    height: 100%;
  }
}
.drop {
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .drop {
    width: 0%;
    height: 0%;
  }
}
@media (max-width: 1000px) {
  .drop {
    width: 0%;
    height: 0%;
  }
}
.width50 {
  width: 50%;
}
.sqwh50 {
  width: 30%;
  height: 30%;
}
.border {
  border: 0px solid black;
}
.paddingTB {
  padding: 3% 0 3% 0;
}
.padding5 {
  padding: 5%;
}
.marginr15 {
  margin-right: 15%;
}
@media (max-width: 500px) {
  .marginr15mm {
    margin-right: 0%;
  }
}
@media (max-width: 1000px) {
  .marginr15mm {
    margin-right: 0%;
  }
}
.marginl15 {
  margin-left: 15%;
}
@media (max-width: 500px) {
  .marginl15mm {
    margin-left: 0%;
  }
}
@media (max-width: 1000px) {
  .marginl15mm {
    margin-left: 0%;
  }
}
.bcolor30 {
  background-color: rgba(0, 0, 0, 0.5);
}
body {
  background: url("https://cdn.hipwallpaper.com/i/0/13/gDOsqY.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: 'Homemade Apple', cursive;
  font-size: 2rem;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: none;
  border: 0px solid black;
  padding: 3% 0 3% 0;
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
  }
}
a {
  border: 0px solid black;
  text-decoration: none;
  color: red;
  width: 100%;
  text-align: center;
}
@media (max-width: 500px) {
  a {
    padding: 3% 0 3% 0;
  }
}
a:hover {
  color: white;
  background-image: url("https://media.giphy.com/media/6wpHEQNjkd74Q/giphy.gif");
  background-size: cover;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: none;
  flex-direction: column;
  border: 0px solid black;
}
header h1 {
  text-align: center;
  width: 50%;
  border: 0px solid black;
}
header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: none;
  border: 0px solid black;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
header img {
  width: 30%;
  height: 30%;
  border: 3px dotted red;
  border-radius: 50%;
}
section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: none;
  border: 0px solid black;
  padding: 5%;
}
section h2 {
  text-align: center;
  width: 50%;
  border: 0px solid black;
  padding: 5%;
  margin-right: 15%;
  background: url("https://media.giphy.com/media/bsRSKZhTXgDXa/giphy.gif") no-repeat center center fixed;
  background-size: cover;
  border-radius: 15%;
  border: 1px solid red;
}
@media (max-width: 500px) {
  section h2 {
    margin-right: 0%;
  }
}
@media (max-width: 1000px) {
  section h2 {
    margin-right: 0%;
  }
}
section div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: none;
  flex-direction: column;
  border: 0px solid black;
  width: 50%;
}
@media (max-width: 500px) {
  section div {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1000px) {
  section div {
    width: 100%;
    height: 100%;
  }
}
section div img {
  width: 60%;
  margin: 5%;
  border: 1px solid black;
  border-radius: 15%;
}
@media (max-width: 500px) {
  section div img {
    width: 0%;
    height: 0%;
  }
}
@media (max-width: 1000px) {
  section div img {
    width: 0%;
    height: 0%;
  }
}
section div p {
  padding: 5%;
  text-align: center;
  margin-right: 15%;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 500px) {
  section div p {
    margin-right: 0%;
  }
}
@media (max-width: 1000px) {
  section div p {
    margin-right: 0%;
  }
}
.left {
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 500px) {
  .left {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1000px) {
  .left {
    width: 100%;
    height: 100%;
  }
}
.left h2 {
  margin-left: 15%;
  padding: 3% 0 3% 0;
}
@media (max-width: 500px) {
  .left h2 {
    margin-left: 0%;
  }
}
@media (max-width: 1000px) {
  .left h2 {
    margin-left: 0%;
  }
}
.left p {
  margin-left: 15%;
  padding: 3% 0 3% 0;
}
@media (max-width: 500px) {
  .left p {
    margin-left: 0%;
  }
}
@media (max-width: 1000px) {
  .left p {
    margin-left: 0%;
  }
}
@media (max-width: 500px) {
  .left img {
    width: 0%;
    height: 0%;
  }
}
@media (max-width: 1000px) {
  .left img {
    width: 0%;
    height: 0%;
  }
}
.full {
  width: 80%;
}
@media (max-width: 500px) {
  .full {
    width: 0%;
    height: 0%;
  }
}
@media (max-width: 1000px) {
  .full {
    width: 0%;
    height: 0%;
  }
}
footer {
  text-align: center;
  padding: 5%;
}
