/* 	=======================================
	=======================================
		ATTEMPTED STRETCHE(S):
			- incoporate a gFont of 
			your choice

		@tablet 
			divs/sections drop their img
		@mobile 
			nav becomes a column
	=======================================
	=======================================
*/
// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	// background-color: red;
	// "delete" per readme
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

/*	============================ My
	============================ CSS:
	============================
*/

* {
	border: 1px solid black;
}

// variables & mixins:

@fiddy: 50%;
@thirdy: 30%;
@fifteen: 15%;
@five: 5%;
@kuroi: black;
@akai: red;
@shiroi: white;
@mobile: (max-width: 500px);
@tablet: (max-width: 1000px);

.disappear() {
	@media @mobile {
		width: 0%;
		height: 0%;
	}
	@media @tablet {
		width: 0%;
		height: 0%;
	}
}

.consume() {
	@media @mobile {
		width: 100%;
		height: 100%;
	}
	@media @tablet {
		width: 100%;
		height: 100%;
	}
}

.drop() {
	display: flex;
	flex-direction: column;
	.disappear();
}

.width50() {
	width: @fiddy;
}
.sqwh50() {
	width: @thirdy;
	height: @thirdy;
}
.border() {
	border: 0px solid @kuroi;
}
.paddingTB() {
	padding: 3% 0 3% 0;
}
.paddingTBmm() {
	@media @tablet {
		padding: 0% 0 0% 0;
	}
}
.padding5() {
	padding: @five;
}
.marginr15() {
	margin-right: @fifteen;
}
.marginr15mm() {
	@media @mobile {
		margin-right: 0%;
	}
	@media @tablet {
		margin-right: 0%;
	}
}
.marginl15(){
	margin-left: @fifteen;
}

.marginl15mm() {
	@media @mobile {
		margin-left: 0%;
	}
	@media @tablet {
		margin-left: 0%;
	}
}
.bcolor30(){
	background-color: rgba(0, 0, 0, 0.5);
}
.flex(@justify:center,@align:center,@flow:none){
	display: flex;
	justify-content: @justify;
	align-items: @align;
	flex-flow: @flow;
}

// nesting & everything else

body {
	background: url("https://cdn.hipwallpaper.com/i/0/13/gDOsqY.jpg") no-repeat center center fixed;
	background-size: cover;
	color: @shiroi;
	font-family: 'Homemade Apple', cursive;
	font-size: 2rem;
}
nav {
	width: 100%;
	.flex(@justify: space-around);
	.border();
	.paddingTB();
	@media @mobile {
		flex-direction: column;
	}
}
a {
	.border();
	text-decoration: none;
	color: @akai;
	width: 100%;
	text-align: center;
	@media @mobile {
		.paddingTB();
	}
}
a:hover {
	color: @shiroi;
	background-image: url("https://media.giphy.com/media/6wpHEQNjkd74Q/giphy.gif");
	background-size: cover;
}
header {
	.flex(@justify: space-around);
	flex-direction: column;
	.border();
	h1 {
		text-align: center;
		.width50();
		.border();

	}
	div {
		.flex(@justify: space-around);
		.border();
		.padding5();
		.bcolor30();
		width: 100%;
	}
	img {
		.sqwh50();
		border: 3px dotted @akai;
		border-radius: 50%;
	}
}
section {
	.flex(@justify: space-around);
	.border();
	.padding5();
	h2 {
		text-align: center;
		.width50();
		.border();
		.padding5();
		.marginr15();
		.marginr15mm();
		background: url("https://media.giphy.com/media/bsRSKZhTXgDXa/giphy.gif") no-repeat center center fixed;
		background-size: cover;
		border-radius: 15%;
		border: 1px solid @akai;
	}
	div {
		.flex();
		flex-direction: column;
		.border();
		.width50();
		.consume();
		img {
			width: 60%;
			margin: 5%;
			border: 1px solid @kuroi;
			border-radius: 15%;
			.disappear();
		}
		p {
			.padding5();
			text-align: center;
			.marginr15();
			.marginr15mm();
			font-family: Arial, Helvetica, sans-serif;
		}
	}
}
.left {
	.bcolor30();
	.consume();
	h2 {
		.marginl15();
		.marginl15mm();
		.paddingTB();
	}
	p {
		.marginl15();
		.marginl15mm();
		.paddingTB();
	}
	img {
		.disappear();
	}
	
	@media @tablet {
		height: 50%;
	}
}
.full {
	width: 80%;
	.disappear();
}
footer {
	text-align: center;
	.padding5();
}